.vc_custom_1570452558272 {
        background-image: url(https://www.evyavancapital.com/wp-content/uploads/2019/10/home-bg-gray-m.jpg?id=1009) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1570620386466 {
        background-image: url(https://www.evyavancapital.com/wp-content/uploads/2019/10/home-bg-gray-m.jpg?id=1009) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1588580735697 {
        margin-top: 0px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        background-color: #e2e2e2 !important;
      }
      .vc_custom_1571395192256 {
        padding-top: 20px !important;
      }
      .vc_custom_1570452506610 {
        padding-top: 20px !important;
      }
      .vc_custom_1568981354323 {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1568981360370 {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1568981383176 {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1570782886659 {
        padding-right: 30px !important;
        padding-left: 30px !important;
        background-image: url(https://www.evyavancapital.com/wp-content/uploads/2019/10/credit-fund-mob-new-bk-min.jpg?id=665) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1570205824370 {
        padding-right: 30px !important;
        padding-left: 30px !important;
        background-image: url(https://www.evyavancapital.com/wp-content/uploads/2019/09/advisory-home-right-1.jpg?id=538) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      .vc_custom_1569068697573 {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1569068703470 {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1569068709046 {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .vc_custom_1570205936791 {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
      }
      .vc_custom_1570205979337 {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
      }
      .vc_custom_1570206058361 {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
      }
      .vc_custom_1569479174123 {
        padding-top: 20px !important;
      }
      .vc_custom_1570453042221 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      .vc_custom_1572679713503 {
        border-top-width: 10px !important;
        border-right-width: 10px !important;
        border-bottom-width: 0px !important;
        border-left-width: 10px !important;
        border-left-color: #ffffff !important;
        border-left-style: solid !important;
        border-right-color: #ffffff !important;
        border-right-style: solid !important;
        border-top-color: #ffffff !important;
        border-top-style: solid !important;
        border-bottom-color: #ffffff !important;
        border-bottom-style: solid !important;
      }
      .vc_custom_1572679821318 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      .vc_custom_1570453934108 {
        padding-bottom: 30px !important;
      }

       img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }

       .overlay-right {
        background-color: #ffecd6;
      }

      @media (min-width: 1200px) and (max-width: 1366px) {
        nav.main_menu > ul > li > a {
          padding: 0 5px;
          font-size: 12px;
        }
        #nav-menu-item-869 .second .inner ul {
          left: 35%;
        }
        #nav-menu-item-19 .second .inner ul {
          left: 41%;
        }
      }

      @media (min-width: 1100px) and (max-width: 1199px) {
        nav.main_menu > ul > li > a {
          padding: 0 5px;
          font-size: 12px;
        }
      }
      @media (min-width: 1066px) and (max-width: 1099px) {
        nav.main_menu > ul > li > a {
          padding: 0 3px;
          font-size: 9px;
        }
      }

      /* Linkedin */
      .annualtab ul li h4 {
        background: #f9d0a0;
      }
      .vc_row.wpb_row.section.vc_row-fluid.vc_inner.annualrpt {
        margin-bottom: 20px !important;
      }
      p.linkedin a i {
        background: #b8292f;
        color: #fff;
        padding: 8px;
        width: 20px;
        height: 20px;
        font-size: 18px !important;
        display: block;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
      }
      .annualreport .wpb_wrapper h4 i {
        font-size: 18px !important;
        padding-right: 5px;
      }
      .annualreport .wpb_wrapper h4 {
        margin-top: 7px;
        display: block;
        text-decoration: underline;
        font-size: 17px;
        font-weight: 500;
        margin-left: 20px;
      }
      .annualreport h4 a {
        color: #000;
        font-size: 15px;
      }
      .annualreport h4 a:hover {
        color: #b62d31;
      }
      .vc_row.wpb_row.section.vc_row-fluid.vc_inner.annualrpt h3 {
        text-transform: inherit;
      }

      /* annual report */
      .vc_row.wpb_row.section.vc_row-fluid.vc_inner.annualrpt h3 {
        text-align: center;
        margin-bottom: 16px;
      }
      table.annualreport {
        width: 100%;
      }
      table.annualreport thead {
        background: #f9d0a0;
      }
      table.annualreport tbody tr {
        background: #fdeeda;
      }
      table.annualreport tr th,
      table.annualreport tr td {
        text-align: left;
        padding: 5px 7px;
      }
      table.annualreport tr td {
        font-weight: 500;
      }
       .wpb_animate_when_almost_visible {
          opacity: 1;
        }
        .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
      }
      .no-js img.lazyload {
        display: none;
      }
      figure.wp-block-image img.lazyloading {
        min-width: 150px;
      }
      .lazyload,
      .lazyloading {
        opacity: 0;
      }
      .lazyloaded {
        opacity: 1;
        transition: opacity 400ms;
        transition-delay: 0ms;
      }
       @font-face {
        font-family: harabara;
      }

      .maxbutton-4.maxbutton.maxbutton-home-about-read {
        position: relative;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border-color: #b8292f;
        width: 160px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-style: solid;
        border-width: 2px;
        background-color: rgba(184, 41, 47, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #b8292f;
        -moz-box-shadow: 0px 0px 2px 0px #b8292f;
        box-shadow: 0px 0px 2px 0px #b8292f;
      }
      .maxbutton-4.maxbutton.maxbutton-home-about-read:hover {
        border-color: #000;
        background-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #000;
        -moz-box-shadow: 0px 0px 2px 0px #000;
        box-shadow: 0px 0px 2px 0px #000;
      }
      .maxbutton-4.maxbutton.maxbutton-home-about-read .mb-text {
        color: #fff;
        font-size: 15px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 1em;
        box-sizing: border-box;
        display: block;
        background-color: unset;
      }
      .maxbutton-4.maxbutton.maxbutton-home-about-read:hover .mb-text {
        color: #fff;
      }
      .maxbutton-1.maxbutton.maxbutton-credit-funds {
        position: relative;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border-color: #b8292f;
        width: 160px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-style: solid;
        border-width: 2px;
        background-color: rgba(184, 41, 47, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #b8292f;
        -moz-box-shadow: 0px 0px 2px 0px #b8292f;
        box-shadow: 0px 0px 2px 0px #b8292f;
      }
      .maxbutton-1.maxbutton.maxbutton-credit-funds:hover {
        border-color: #000;
        background-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #000;
        -moz-box-shadow: 0px 0px 2px 0px #000;
        box-shadow: 0px 0px 2px 0px #000;
      }
      .maxbutton-1.maxbutton.maxbutton-credit-funds .mb-text {
        color: #fff;
        font-size: 15px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 1em;
        box-sizing: border-box;
        display: block;
        background-color: unset;
      }
      .maxbutton-1.maxbutton.maxbutton-credit-funds:hover .mb-text {
        color: #fff;
      }
      .maxbutton-2.maxbutton.maxbutton-advisory-service {
        position: relative;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border-color: #b8292f;
        width: 160px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-style: solid;
        border-width: 2px;
        background-color: rgba(184, 41, 47, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #b8292f;
        -moz-box-shadow: 0px 0px 2px 0px #b8292f;
        box-shadow: 0px 0px 2px 0px #b8292f;
      }
      .maxbutton-2.maxbutton.maxbutton-advisory-service:hover {
        border-color: #000;
        background-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #000;
        -moz-box-shadow: 0px 0px 2px 0px #000;
        box-shadow: 0px 0px 2px 0px #000;
      }
      .maxbutton-2.maxbutton.maxbutton-advisory-service .mb-text {
        color: #fff;
        font-size: 15px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 1em;
        box-sizing: border-box;
        display: block;
        background-color: unset;
      }
      .maxbutton-2.maxbutton.maxbutton-advisory-service:hover .mb-text {
        color: #fff;
      }
      .maxbutton-3.maxbutton.maxbutton-founder {
        position: relative;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border-color: #b8292f;
        width: 160px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-style: solid;
        border-width: 2px;
        background-color: rgba(184, 41, 47, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #b8292f;
        -moz-box-shadow: 0px 0px 2px 0px #b8292f;
        box-shadow: 0px 0px 2px 0px #b8292f;
      }
      .maxbutton-3.maxbutton.maxbutton-founder:hover {
        border-color: #000;
        background-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 0px 2px 0px #000;
        -moz-box-shadow: 0px 0px 2px 0px #000;
        box-shadow: 0px 0px 2px 0px #000;
      }
      .maxbutton-3.maxbutton.maxbutton-founder .mb-text {
        color: #fff;
        font-size: 15px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 1em;
        box-sizing: border-box;
        display: block;
        background-color: unset;
      }
      .maxbutton-3.maxbutton.maxbutton-founder:hover .mb-text {
        color: #fff;
      }
       .page-id-2.disabled_footer_top .footer_top_holder,
      .page-id-2.disabled_footer_bottom .footer_bottom_holder {
        display: none;
      }

                                            .breadcrumb-container {
                                              font-size: 13px;
                                            }
                                            .breadcrumb-container ul {
                                              margin: 0;
                                              padding: 0;
                                            }
                                            .breadcrumb-container li {
                                              box-sizing: unset;
                                              display: inline-block;
                                              margin: 0;
                                              padding: 0;
                                            }
                                            .breadcrumb-container li a {
                                              box-sizing: unset;
                                              padding: 0 10px;
                                            }
                                            .breadcrumb-container {
                                              font-size: 12px !important;
                                              padding: 0px;
                                              margin: 0px;
                                            }
                                            .breadcrumb-container li a {
                                              color: #333333 !important;
                                              font-size: 12px !important;
                                              line-height: 12px !important;
                                            }
                                            .breadcrumb-container
                                              li
                                              .separator {
                                              color: #727272 !important;
                                              font-size: 12px !important;
                                            }
                                            .breadcrumb-container
                                              li:last-child
                                              .separator {
                                              display: none;
                                            }

                                            /* Theme theme4*/

                                            .breadcrumb-container.theme4 li {
                                              display: inline-block;
                                              margin: 0 14px;
                                              padding: 0;
                                            }

                                            .breadcrumb-container.theme4 a {
                                              background: #ffecd6;
                                              color: rgb(102, 102, 102);
                                              display: inline-block;
                                              font-size: 14px;
                                              height: 16px;
                                              margin: 0;
                                              padding: 5px 10px;
                                              text-decoration: none;
                                              position: relative;
                                            }

                                            .breadcrumb-container.theme4
                                              a::after {
                                              -moz-border-bottom-colors: none;
                                              -moz-border-left-colors: none;
                                              -moz-border-right-colors: none;
                                              -moz-border-top-colors: none;
                                              border-color: rgba(0, 0, 0, 0)
                                                rgba(0, 0, 0, 0)
                                                rgba(0, 0, 0, 0) #ffecd6;
                                              border-image: none;
                                              border-style: solid;
                                              border-width: 13px;
                                              content: " ";
                                              display: inline-block;
                                              height: 0;
                                              line-height: 0;
                                              position: absolute;
                                              right: -26px;
                                              top: 0;
                                              width: 0;
                                            }

                                            .breadcrumb-container.theme4
                                              .separator {
                                              display: none;
                                            }

                                           
                                       